html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(49, 46, 43);
}
#gridc {
    width: 400px;
    height: 400px;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#gridc div {
    width: 50px;
    height: 50px;
    
    color: rgb(49, 46, 43);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lightTile {
    background-color: rgb(235, 236, 208);
}
.darkTile {
    background-color: rgb(119, 149, 86);
}